# This file contains package constraints needed to run the invest test suite.
# It follows the pip constraints file format:
# https://pip.pypa.io/en/stable/user_guide/#constraints-files

# A gdal bug caused our test suite to fail, but this issue is unlikely to
# occur with regular use of invest. https://github.com/OSGeo/gdal/issues/8497
gdal!=3.6.*,!=3.7.*

# docutils version 0.22.1 crashes installation
# https://sourceforge.net/p/docutils/bugs/513/
docutils<0.22.1
