include README.rst
include README_PYTHON.rst
include HISTORY.rst
include LICENSE.txt
include requirements.txt
include requirements-dev.txt
recursive-include src/natcap/invest *.cpp *.c *.txt *.js *.sh
