include README.rst
include README_PYTHON.rst
include HISTORY.rst
include LICENSE.txt
include pyproject.toml
include requirements.txt
include requirements-dev.txt
include requirements-gui.txt
prune .github
prune ci
prune exe
prune installer
prune doc/users-guide
