# requirements-dev.txt
# --------------------
# This file records the packages and requirements for packages that are needed
# by infrastructure, but not by natcap.invest.
#
# Note that there may be some OS-specific requirements, so be sure to run
# `make check` to verify you have all the required packages.
#
# Any lines with "# pip-only" at the end will be processed by
# scripts/convert-requirements-to-conda-yml.py as though it can only be found
# on pip.

# build python distribution
Cython
wheel>=0.27.0
build
setuptools>=8.0
setuptools_scm>=6.4.0

# build pyinstaller distribution
PyInstaller>=4.10

# test
pytest
pytest-subtests
coverage
