# requirements-gui.txt
# --------------------
# This file records the packages and requirements needed in order for the
# InVEST GUI to work as expected.

# On MacOS, we had problems with conda installations of PySide2 not
# finding the cocoa plugin interface. And in general the pip distributions
# seem better supported by PyInstaller

qtpy>1.3  # pip-only
qtawesome  # pip-only
requests
PySide2  # pip-only
