# requirements.txt
# --------------------
# This file records the packages and requirements needed in order for
# all models of natcap.invest to work as expected.
#
# Note that there may be some OS-specific requirements, so be sure to run
# `paver check` to verify you have all the required packages.

Pyro4==4.41
gdal>=2.0,<3.0
matplotlib
natcap.versioner>=0.4.2
pygeoprocessing>=0.6.0,<0.7.0
numpy>=1.11.0
rtree>=0.8.2
scipy>=0.16.1
shapely
setuptools>=8.0
qtpy<1.3
qtawesome
six
taskgraph>=0.2.3,<0.3.0
# psutil is used, but not required, by taskgraph to lower process priority
psutil>=5.2.2
