# requirements-dev.txt
# --------------------
# This file records the packages and requirements for packages that are needed
# by infrastructure, but not by natcap.invest.
#
# Note that there may be some OS-specific requirements, so be sure to run
# `make check` to verify you have all the required packages.
#
# Any lines with "# pip-only" at the end will be processed by
# scripts/convert-requirements-to-conda-yml.py as though it can only be found
# on pip.
# Sometimes conda-forge does not install the latest available version,
# pip-only can be a workaround for that.

virtualenv>=12.0.1
pytest
pytest-subtests!=0.14.0  # https://github.com/pytest-dev/pytest-subtests/issues/173
wheel>=0.27.0
pypiwin32; sys_platform == 'win32'  # pip-only

# 60.7.0 exception because of https://github.com/pyinstaller/pyinstaller/issues/6564
setuptools>=8.0,!=60.7.0
pyinstaller>=6.9.0
setuptools_scm>=6.4.0
requests
coverage
xlwt
build  # pip-only
rst2html5
