# requirements.txt
# --------------------
# This file records the packages and requirements needed in order for
# all models of natcap.invest to work as expected.
#
# Packages required for extras (like the UI) are in setup.py.
#
# Note that there may be some OS-specific requirements, so be sure to run
# `paver check` to verify you have all the required packages.

Pyro4==4.41
gdal>=2.0,<3.0
matplotlib
numpy>=1.11.0
rtree>=0.8.2
scipy>=0.16.1
shapely
six

# pygeoprocessing>=0.6.0,<0.7.0
hg+https://bitbucket.org/jdouglass/pygeoprocessing@908b323

#taskgraph[niced_processes]>=0.2.3,<0.3.0
hg+https://bitbucket.org/jdouglass/taskgraph@58555b7
psutil
