# requirements-docs.txt
# ---------------------
# This file records the packages *required* to build documentation
# for the natcap.invest package. Building documentation does not
# require that all packages needed to actually execute the packages
# are available.  Missing packages will be mocked out for the sphinx
# build.
#
# This build script is maintained primarily for a build on
# readthedocs.org.
#
# This requirements file assumes that the natcap.invest package is being
# installed to the readthedocs virtualenv separately.  This is currently
# implemented with a checkbox in the readthedocs admin page.

sphinx
sphinx-rtd-theme
nose
Cython
mock
numpy
scipy
setuptools_scm
