/*Top Navigation*/

.navbar {
	padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}

.nav-link {
	color: gray;
	font-size: 1.3rem;
	font-weight: 550;
}

.navbar-brand {
	font-style: italic;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: 2px;
	color: gray;
}

/*Main Layout*/

#top-tab-content .tab-pane {
	padding-top: 16px;
}

.invest-sidebar-col {
	/*display: flex;*/
	/*padding-top: 12px;*/
}

.sidebar-setup {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	padding-left: 2rem;
}

.sidebar-footer {
	position: absolute;
	bottom: 0rem;
	right: 0;
	left: 0;
	width: inherit;
	padding-left: inherit;
	padding-right: inherit;
}

.invest-main-col {
	/*padding-top: 12px;*/
	padding-left: 2rem;
	padding-right: 2rem;
	height: 85vh;
	/*overflow: auto;*/
}

.invest-main-col .tab-pane {
	border-color: gray;
	border-style: solid;
	background-color: ghostwhite;
}

/*.tab-content {
	margin-top: 12px;
	margin-left: 2rem;
	margin-right: 2rem;
	padding-left: 0rem;
	padding-right: 0rem;
}*/

.close-tab {
	margin-left: 0.5rem;
	border-color: transparent;
}
.close-tab:hover, .close-tab:focus, .close-tab:active {
	border-color: #6c757d;
}

/* HomeTab styles */

.invest-list-table {
	display: block;
	height: 90vh;
	overflow-y: auto;
}

.invest-button {
	color: #148F68;
	font-weight: 600;
}

.recent-job-card-group {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

/* cards can expand to fill space, via flex,
   but need an explicit width so they are all uniform.*/
.recent-job-card {
	flex: 1 0 auto!important;
	flex-direction: row;
	width: 400px; 
	margin-bottom: 15px!important;
	border-width: 2px;
	padding: 0;
}

.card-body {
	width: inherit;
	padding: 0;
	/*margin-left: -7px;*/
}

.card-header {
	color: white;
	font-weight: 700;
	padding-left: 1.25rem;
	filter: opacity(0.75);
}

.card-title {
	padding-top: 1rem;
	padding-left: 1.25rem;
}

.card-title .text-heading {
	color: gray;
}

.card-title .text-mono {
	font-family: monospace;
	font-size: 1.5rem;
}

.card-text {
	padding-left: 1.25rem;
}

/* Setup Tab */
.args-form {
	height: 85vh;
	overflow-y: auto;
	/*overflow-x: hidden;*/
}

/* Log Tab */
#log-display {
	/*flex: 1;*/
	overflow: auto;
  white-space: pre-line;
	height: 75vh;
  /*min-height: 0;*/
  /*max-height: 75%;*/
  /*overflow-y: scroll;*/
};

#log-alert {
	height: 10vh;
}

/* Forms */
.arg-group {
	margin-top: 2.0rem;
	margin-bottom: 2.0rem;
}

.arg-hide {
	display: none;
}

.arg-disable .form-label {
	color: lightgray;
}

.form-control {
	font-family: monospace;
	font-size:1.3rem;
}

/* Default sized Radio buttons are too small */
input[type=radio]{
  transform:scale(2.0);
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}
