body {
	--invest-green: #148F68;
	--navbar-height: 65px;
	background-color: rgba(0,0,0,0);
	margin: 0;
	padding: 1rem;
}

/*Top Navigation*/

.navbar {
	padding-bottom: 0;
	height: var(--navbar-height);
	border-bottom: 3px solid var(--invest-green);
	background-color: #fff
}

.navbar-light .navbar-nav .nav-link {
	background-color: transparent;
  padding-right: 2rem;
  padding-left: 2rem;
  color: #999999;
}

.navbar-light .navbar-nav .nav-link.active {
	background-color: ghostwhite;
}

.nav-link {
	color: gray;
	font-size: 1.3rem;
	font-weight: 550;
}

.navbar .navbar-brand {
	color: var(--invest-green);
	font-weight: 600;
	font-size: 2.0rem;
	letter-spacing: 1px;
	pointer-events: none;
}

.navbar .btn {
	background-color: #6c757d;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.2rem;
}

.close-tab.btn {
	background-color: transparent;
	border-color: transparent;
	color: #6c757d;
	margin-left: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.close-tab:hover, .close-tab:focus, .close-tab:active {
	border-color: #6c757d;
}

/*Top Level Tabs*/

#top-tab-content.tab-content {
	padding-top: 16px;
}

/* Home Tab */

.invest-list-table {
	display: block;
	height: 87vh;
	overflow-y: auto;
}

.invest-button {
	color: var(--invest-green);
	font-weight: 600;
}

.recent-job-card-group {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 87vh;
	overflow-y: auto;
}

/* cards can expand to fill space, via flex,
   but need an explicit width so they are all uniform.*/
.recent-job-card {
	flex: 1 0 auto!important;
	flex-direction: row;
	width: 400px; 
	margin-bottom: 15px!important;
	border-width: 2px;
	padding: 0;
}

.card-body {
	width: inherit;
	padding: 0;
}

.card-header {
	background-color: var(--invest-green);
	filter: opacity(0.75);
}

.card-header .header-title {
	color: white;
	font-size: 1.35rem;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.card-title {
	padding-top: 1rem;
	padding-left: 1.25rem;
}

.card-title .text-heading {
	color: gray;
}

.card-title .text-mono {
	font-family: monospace;
	font-size: 1.5rem;
}

.card-text {
	padding-left: 1.25rem;
}

/* InVEST Model Tab */

.invest-sidebar-col {
	padding-right: 0rem;
}

.invest-sidebar-col .nav-link {
	background-color: #fff;
}

.invest-sidebar-col .nav-link.active {
	color: #000;
	background-color: ghostwhite;
	border-right: 5px solid var(--invest-green);
	border-radius: 0rem;
}

.sidebar-setup {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	padding-left: 2rem;
}

.invest-sidebar-col .row {
	padding:inherit;
}

.invest-sidebar-col .row a {
	padding:inherit;
	font-size: 1.3rem;
}


.sidebar-footer {
	position: absolute;
	bottom: 0rem;
	right: 0;
	left: 0;
	margin-right:2rem;
	margin-left:2rem;
	padding-left: inherit;
	padding-right: inherit;
}

.sidebar-footer .btn-primary {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

.invest-main-col {
	padding-left: 0rem;
	height: 85vh;
}

.invest-main-col .tab-content {
	background-color: ghostwhite;
}

/* InVEST Setup Tab */
.args-form {
	height: 85vh;
	width: 100%;
	margin-left: 2rem;
	overflow-y: auto;
	overflow-x: hidden;
}

/* InVEST Argument Forms */
.arg-group {
	margin-top: 2.0rem;
	margin-bottom: 2.0rem;
}

.arg-hide {
	display: none;
}

.arg-disable .form-label {
	color: lightgray;
}

.args-form .form-control {
	font-family: monospace;
	font-size:1.3rem;
}

.args-form .form-control[type=text] {
	/* In order to keep the important part of long filepaths visible
	https://stackoverflow.com/questions/38222696/issue-with-the-direction-rtl-css-property */
	direction: rtl;
	text-align: left;
	unicode-bidi: plaintext;
}

input[type=text]::placeholder {
	font-style: italic;
	color: #a5a5a5;
}

/* Default sized Radio buttons are too small */
.form-check-inline .form-check-input {
	transform:scale(2.0);
	margin-left: 1rem;
}

.form-check-label {
	padding-left: 0.5rem;
	padding-right: 1rem;
}

.invalid-feedback {
	font-size: 1.15rem;
	font-family: monospace;
	white-space: pre-wrap;
	padding-left: 50px;
	text-indent: -50px;
}

/* InVEST Log Tab */
#log-display {
	overflow: auto;
  white-space: pre-wrap;
	height: 85vh;
  background-color: #191919;
}

#log-text {
	font-family: monospace;
	font-size:1.3rem;
	color: #e5e5e5;
}

#log-text .invest-log-primary {
	color: #fff;
	font-size: 1.2rem;
}

#log-text .invest-log-error {
	color: #ffc13e;
}

.invest-sidebar-col .alert {
	display: flex;
	flex-direction: column;
	justify-content: center;
	order: -1;
	font-size: 1.2rem;
}

.invest-sidebar-col .alert .btn {
	flex: 1;
	margin-top: 1rem;
	font-size: 1.1rem;
	letter-spacing: 0.03rem;
}

/* Misc */
.spinner-border {
	margin-left: 1rem;
	margin-bottom: 0.25rem;
}
