body {
	--invest-green: #148F68;
	background-color: rgba(0,0,0,0);
	margin: 0;
	padding: 1rem;
	overflow-y: hidden;
}

/*Top Navigation*/

.navbar {
	height: 3rem;
}

.navbar .row {
	align-items: baseline;
	padding-bottom: 0;
	border-bottom: 3px solid var(--invest-green);
	background-color: #fff
}

.navbar-brand {
	padding-bottom: 0px;
}

.navbar-brand .nav-link {
	color: var(--invest-green);
	font-weight: 600;
	font-size: 2.0rem;
	letter-spacing: 1px;
	padding-bottom: 0;
}

.navbar-nav.nav-tabs {
	border-bottom: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.navbar-nav .nav-item {
	display: flex;
	justify-content: space-between;
	max-width: fit-content;
	white-space: nowrap;
	flex: 1; /*size by available space, not by content*/
	min-width: 0; /*and allow it to shrink to fit container*/
	background-color: transparent;
	border: 1px solid #999999;
  border-bottom: 0px;
}

.navbar-nav .nav-item.active {
	border: 3px solid var(--invest-green);
	border-bottom: 0px;
	background-color: ghostwhite;
}

.navbar-light .navbar-nav .nav-link {
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
  background-color: transparent;
  color: #999999;
  border: 0px;
  border-bottom: 0px;
  font-size: 1.1rem;
}

.navbar-light .navbar-nav .nav-link.active {
	background-color: transparent;
}

.close-tab.btn {
	background-color: transparent;
	border-color: transparent;
	color: #6c757d;
	margin-left: 0.1rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-top: 0.25rem;
	padding-bottom: 0.5rem;
}
.close-tab:hover, .close-tab:focus, .close-tab:active {
	border-color: #6c757d;
	background-color: #e46672;
	color: white;
}

/*TODO:  This probably applies to more than just navbar*/
.nav-link {
	color: gray;
	font-size: 1.3rem;
	font-weight: 550;
}

.progress {
	height: 2rem;
	font-size: 1rem;
	background-color: #aeb1b3;
}

.progress-bar {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.navbar .alert {
	padding: 0.4rem;
}

.navbar .row .text-right {
	white-space: nowrap;
}

.settings-icon {
	color: black;
	font-size: 2rem;
	vertical-align: middle;
}

.tab-content {
	padding-top:  10px;
}

/* Home Tab */

.invest-list-table {
	display: block;
	height: 87vh;
	overflow-y: auto;
}

.invest-button {
	color: var(--invest-green);
	font-weight: 600;
}

.recent-job-card-group {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 87vh;
	overflow-y: auto;
}

/* cards can expand to fill space, via flex,
   but need an explicit width so they are all uniform.*/
.recent-job-card {
	flex: 1 0 auto!important;
	flex-direction: row;
	width: 400px; 
	margin-bottom: 15px!important;
	border-width: 2px;
	padding: 0;
}

.card-body {
	width: inherit;
	padding: 0;
}

.card-header {
	background-color: var(--invest-green);
	filter: opacity(0.75);
}

.card-header .header-title {
	color: white;
	font-size: 1.35rem;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.card-title {
	padding-top: 1rem;
	padding-left: 1.25rem;
}

.card-title .text-heading {
	color: gray;
}

.card-title .text-mono {
	font-family: monospace;
	font-size: 1.5rem;
}

.card-text {
	padding-left: 1.25rem;
}

/* InVEST Model Tab */

.invest-sidebar-col {
	display: flex;
	flex-direction: column;
	padding-right: 0rem;
	min-width: 250px;
}

.invest-sidebar-col .nav-link {
	background-color: #fff;
}

.invest-sidebar-col .nav-link.active {
	color: #000;
	background-color: ghostwhite;
	border-right: 5px solid var(--invest-green);
	border-radius: 0rem;
}

.sidebar-setup {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	padding-left: 2rem;
}

/* Resources Links */
.sidebar-row {
	display: flex;
	flex-direction: column;
	font-size: 1.0rem;
	padding: inherit;
}

.sidebar-footer {
    margin-top: auto;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.sidebar-footer .btn-primary {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

.invest-main-col {
	padding-left: 0rem;
	height: 85vh;
}

.invest-main-col .tab-content {
	background-color: ghostwhite;
}

/* InVEST Setup Tab */
.args-form {
	height: 85vh;
	width: 100%;
	margin-left: 2rem;
	overflow-y: auto;
	overflow-x: hidden;
}

/* InVEST Argument Forms */
.args-form.dragging {
  opacity: 0.2;
}

.arg-group {
	margin-top: 2.0rem;
	margin-bottom: 2.0rem;
}

.arg-hide {
	display: none;
}

.arg-disable .form-label {
	color: lightgray;
}

.args-form .form-control {
	font-family: monospace;
	font-size:1.3rem;
}

.args-form .form-control[type=text] {
	/* In order to keep the important part of long filepaths visible
	https://stackoverflow.com/questions/38222696/issue-with-the-direction-rtl-css-property */
	direction: rtl;
	text-align: left;
	unicode-bidi: plaintext;
}

input.input-dragging {
  border: 4px dashed #cccccc;
}

input[type=text]::placeholder {
	font-style: italic;
	color: #a5a5a5;
}

/* Default sized Radio buttons are too small */
.form-check-inline .form-check-input {
	transform:scale(2.0);
	margin-left: 1rem;
}

.form-check-label {
	padding-left: 0.5rem;
	padding-right: 1rem;
}

.invalid-feedback {
	font-size: 1.15rem;
	font-family: monospace;
	white-space: pre-wrap;
	padding-left: 3rem;
	text-indent: -3rem;
}

/* InVEST Log Tab */
#log-display {
	overflow: auto;
	white-space: pre-wrap;
	height: 85vh;
	/*background-color: #191919;*/
}

#log-text {
	font-family: monospace;
	font-size:1.0rem;
	color: #000;
}

#log-text .invest-log-primary {
	color: #000;
	font-weight: bold;
}

#log-text .invest-log-error {
	color: #f13232;
	font-weight: bold;
}

.invest-sidebar-col .alert {
	display: flex;
	flex-direction: column;
	justify-content: center;
	order: -1;
	font-size: 1.2rem;
}

.invest-sidebar-col .alert .btn {
	flex: 1;
	margin-top: 1rem;
	font-size: 1.1rem;
	letter-spacing: 0.03rem;
}

/* Misc */
.spinner-border {
	margin-left: 1rem;
	margin-bottom: 0.25rem;
}

/* Download Data Modal */
.download-data-modal .modal-dialog {
	overflow-y: initial;
}

.download-data-modal .modal-body {
	height: 80vh;
	overflow-y: auto;
}