.header {
  font-size: 1.5rem;
  font-weight: normal;
}

.footer {
  margin-top: 2rem;
  text-align: center;
  img {
    padding: 1rem;
  }
}

button {
  display: block;
  margin-top: 1rem;
}

li {
  margin: 1rem;
}
